
node_modules/
~$Sample Payroll Report with ID.xlsx
Sample Payroll Report with ID.xls
~$Talenox Payments.xlsx
Talenox Payments.xlsx
Payroll Report.xlsx
Talenox Payments.xlsx
index.js
index.js.map
.DS_Store
