node_modules/
.DS_Store
*.xls
*.xlsx
!test-fixtures/*.xlsx
.fuse_hidden*
uploads/
dist/
scripts/**/*.js
scripts/**/*.js.map
commission.log
contractors.log
.env
logs/*
!logs/old/
logs/old/*
payments/*
!payments/old/
payments/old/*
data/*
!data/old/
data/old/*
config/env/production.json
vendor/**/*.tgz
vendor/**/*.zip
vendor/**/*.tar.gz
test-baselines/
config/staffHurdle.json
other_source/staff.json